body{
    margin: 0;
    padding: 0;
    font-family: "Tiro Devanagari Hindi", serif;
    background-color: rgb(244, 234,228);
    text-align: center;
}
header{
    width: 100%;
}
header .banner-container{
    height: 160px;
    overflow: hidden;
}
header img{
    width: 100%;

}
header .title-container{
    position: absolute;
    top: 60px;
    background-color: rgb(241, 181, 14);
    max-width: 400px;
    padding: 8px 30px;
    color: white;
    border-radius: 0px 40px;
    
}
header .title-container h1{
    margin: 0px;
}
.information img{
    width: 100%;
}
.section-container{
    width: 90%;
    margin: 40px auto;
}
section{
    
    width: 48%;
    display: inline-block;
    margin: 0px 4px;
    vertical-align: top;
}
section.information .opening-hours{
    width: 90%;
    border: 2px solid yellow;
    box-sizing: border-box;
    margin: 20px auto ;
    text-align: center;

}
.opening-hours hr{

    background: yellow;
    width: 50%;
    height: 3px;
}
section.menu{
    background-color: rgb(246,246,246);

}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.carousel-main{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    vertical-align: top;
    

}
.carousel-main .carousel-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px white;
    


}
.carousel-main .photo-container{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: blue;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;


}
.carousel-main .button-container{
    display: flex;
    justify-content: center;

}
.carousel-main .button{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(white,rgb(247,247,247));
    margin: 20px 10px 0 10px;
    box-shadow: 0px 1px 5px grey;

}
footer{
    background-color: rgb(211, 211, 2111);
    padding: 40px;
}